Interfaz_Aplicacion.json
{
  "name": "Interfaz_Aplicacion",
  "nodes": [
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>BLUNEXAI - Generador de Anuncios</title>\n    <style>\n        :root {\n            --neon-cyan: #00f3ff;\n            --neon-pink: #bc13fe;\n            --dark-bg: #050510;\n            --panel-bg: rgba(20, 20, 35, 0.7);\n            --text-main: #ffffff;\n            --text-dim: #a0a0b0;\n            --error: #ff2a2a;\n            --success: #00ff88;\n        }\n\n        * {\n            box-sizing: border-box;\n            margin: 0;\n            padding: 0;\n            font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;\n        }\n\n        body {\n            background-color: var(--dark-bg);\n            color: var(--text-main);\n            overflow-x: hidden;\n            min-height: 100vh;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            position: relative;\n        }\n\n        /* --- BACKGROUND FX --- */\n        #bg-canvas {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            z-index: -1;\n            background: radial-gradient(circle at center, #1a1a2e 0%, #000000 100%);\n        }\n\n        .scanlines {\n            position: fixed;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0) 50%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1));\n            background-size: 100% 4px;\n            pointer-events: none;\n            z-index: 10;\n            opacity: 0.3;\n        }\n\n        /* --- LAYOUT --- */\n        .container {\n            width: 100%;\n            max-width: 900px;\n            padding: 2rem;\n            z-index: 2;\n            animation: fadeIn 1s ease-out;\n        }\n\n        /* --- HEADER & TITLE --- */\n        header {\n            text-align: center;\n            margin-bottom: 3rem;\n            perspective: 500px;\n        }\n\n        .brand-title {\n            font-size: 4rem;\n            font-weight: 900;\n            text-transform: uppercase;\n            letter-spacing: 5px;\n            color: #fff;\n            position: relative;\n            display: inline-block;\n            text-shadow: \n                0 0 5px var(--neon-cyan),\n                0 0 10px var(--neon-cyan),\n                0 0 20px var(--neon-cyan);\n            cursor: default;\n            transition: transform 0.1s;\n        }\n\n        /* Glitch Effect Pseudo-elements */\n        .brand-title::before, .brand-title::after {\n            content: \"BLUNEXAI\";\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: var(--dark-bg);\n            overflow: hidden;\n            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);\n        }\n\n        .brand-title::before {\n            left: 2px;\n            text-shadow: -2px 0 var(--neon-pink);\n            animation: glitch-anim-1 2s infinite linear alternate-reverse;\n        }\n\n        .brand-title::after {\n            left: -2px;\n            text-shadow: 2px 0 var(--neon-cyan);\n            animation: glitch-anim-2 3s infinite linear alternate-reverse;\n        }\n\n        .subtitle {\n            color: var(--neon-pink);\n            font-size: 1rem;\n            letter-spacing: 2px;\n            margin-top: 10px;\n            text-transform: uppercase;\n            opacity: 0.8;\n        }\n\n        /* --- FORM & CARDS --- */\n        .image-grid {\n            display: grid;\n            grid-template-columns: 1fr 1fr;\n            gap: 2rem;\n            margin-bottom: 2rem;\n        }\n\n        .upload-card {\n            background: var(--panel-bg);\n            border: 1px solid rgba(0, 243, 255, 0.2);\n            border-radius: 12px;\n            padding: 1.5rem;\n            text-align: center;\n            backdrop-filter: blur(10px);\n            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);\n            transition: all 0.3s ease;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .upload-card:hover {\n            border-color: var(--neon-cyan);\n            box-shadow: 0 0 15px rgba(0, 243, 255, 0.3);\n            transform: translateY(-5px);\n        }\n\n        .card-title {\n            color: var(--neon-cyan);\n            text-transform: uppercase;\n            font-size: 0.9rem;\n            margin-bottom: 1rem;\n            letter-spacing: 1px;\n            font-weight: bold;\n        }\n\n        .dropzone {\n            width: 100%;\n            height: 250px;\n            border: 2px dashed rgba(255, 255, 255, 0.2);\n            border-radius: 8px;\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            cursor: pointer;\n            position: relative;\n            transition: all 0.3s;\n            background: rgba(0,0,0,0.2);\n        }\n\n        .dropzone.dragover {\n            border-color: var(--neon-pink);\n            background: rgba(188, 19, 254, 0.1);\n        }\n\n        .dropzone-icon {\n            font-size: 2rem;\n            color: var(--text-dim);\n            margin-bottom: 10px;\n            pointer-events: none;\n        }\n\n        .dropzone-text {\n            color: var(--text-dim);\n            font-size: 0.8rem;\n            pointer-events: none;\n        }\n\n        .preview-img {\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            object-fit: cover;\n            border-radius: 6px;\n            display: none;\n            z-index: 5;\n        }\n\n        .remove-btn {\n            position: absolute;\n            top: 5px;\n            right: 5px;\n            background: rgba(0,0,0,0.8);\n            color: #fff;\n            border: 1px solid var(--error);\n            width: 24px;\n            height: 24px;\n            border-radius: 50%;\n            cursor: pointer;\n            z-index: 10;\n            display: none;\n            align-items: center;\n            justify-content: center;\n            font-size: 0.8rem;\n        }\n\n        input[type=\"file\"] {\n            display: none;\n        }\n\n        /* --- INPUTS --- */\n        .input-group {\n            margin-bottom: 1.5rem;\n            position: relative;\n        }\n\n        label {\n            display: block;\n            margin-bottom: 0.5rem;\n            color: var(--neon-cyan);\n            font-size: 0.9rem;\n            text-transform: uppercase;\n            letter-spacing: 1px;\n        }\n\n        .cyber-input {\n            width: 100%;\n            background: rgba(255, 255, 255, 0.05);\n            border: 1px solid rgba(255, 255, 255, 0.1);\n            padding: 1rem;\n            color: #fff;\n            font-size: 1rem;\n            border-radius: 4px;\n            transition: all 0.3s;\n            outline: none;\n        }\n\n        .cyber-input:focus {\n            border-color: var(--neon-pink);\n            box-shadow: 0 0 10px rgba(188, 19, 254, 0.3);\n            background: rgba(255, 255, 255, 0.1);\n        }\n\n        textarea.cyber-input {\n            min-height: 100px;\n            resize: vertical;\n        }\n\n        /* --- BUTTON --- */\n        .btn-container {\n            margin-top: 2rem;\n            text-align: center;\n        }\n\n        .cyber-btn {\n            background: linear-gradient(45deg, var(--neon-cyan), #2980b9);\n            color: #fff;\n            border: none;\n            padding: 1rem 3rem;\n            font-size: 1.1rem;\n            text-transform: uppercase;\n            letter-spacing: 2px;\n            font-weight: bold;\n            border-radius: 50px;\n            cursor: pointer;\n            position: relative;\n            overflow: hidden;\n            transition: all 0.3s;\n            box-shadow: 0 0 20px rgba(0, 243, 255, 0.4);\n        }\n\n        .cyber-btn:hover {\n            transform: scale(1.05);\n            box-shadow: 0 0 30px rgba(0, 243, 255, 0.6);\n        }\n\n        .cyber-btn:disabled {\n            background: #444;\n            cursor: not-allowed;\n            transform: none;\n            box-shadow: none;\n            opacity: 0.7;\n        }\n\n        .cyber-btn::after {\n            content: '';\n            position: absolute;\n            top: -50%;\n            left: -50%;\n            width: 200%;\n            height: 200%;\n            background: linear-gradient(transparent, rgba(255,255,255,0.4), transparent);\n            transform: rotate(45deg) translate(-100%, -100%);\n            animation: shine 3s infinite;\n        }\n\n        /* --- STATUS MESSAGES --- */\n        .status-area {\n            margin-top: 2rem;\n            min-height: 60px;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            text-align: center;\n        }\n\n        .alert {\n            padding: 1rem 2rem;\n            border-radius: 8px;\n            font-size: 0.95rem;\n            display: none;\n            animation: slideUp 0.3s ease-out;\n            max-width: 100%;\n        }\n\n        .alert.error {\n            background: rgba(255, 42, 42, 0.15);\n            border: 1px solid var(--error);\n            color: #ff8888;\n        }\n\n        .alert.success {\n            background: rgba(0, 255, 136, 0.15);\n            border: 1px solid var(--success);\n            color: var(--success);\n        }\n\n        /* --- SPINNER --- */\n        .spinner {\n            display: inline-block;\n            width: 20px;\n            height: 20px;\n            border: 3px solid rgba(255,255,255,0.3);\n            border-radius: 50%;\n            border-top-color: #fff;\n            animation: spin 1s ease-in-out infinite;\n            margin-right: 10px;\n            vertical-align: middle;\n        }\n\n        /* --- ANIMATIONS --- */\n        @keyframes spin { to { transform: rotate(360deg); } }\n        @keyframes shine { \n            0% { transform: rotate(45deg) translate(-100%, -100%); }\n            20% { transform: rotate(45deg) translate(100%, 100%); }\n            100% { transform: rotate(45deg) translate(100%, 100%); }\n        }\n        @keyframes glitch-anim-1 {\n            0% { clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); transform: translate(-2px); }\n            100% { clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%); transform: translate(2px); }\n        }\n        @keyframes glitch-anim-2 {\n            0% { clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%); transform: translate(2px); }\n            100% { clip-path: polygon(0 85%, 100% 85%, 100% 95%, 0 95%); transform: translate(-2px); }\n        }\n        @keyframes fadeIn { from { opacity: 0; transform: translateY(20px); } to { opacity: 1; transform: translateY(0); } }\n        @keyframes slideUp { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }\n\n        /* --- MEDIA QUERIES --- */\n        @media (max-width: 768px) {\n            .image-grid {\n                grid-template-columns: 1fr;\n            }\n            .brand-title {\n                font-size: 2.5rem;\n            }\n        }\n    </style>\n</head>\n<body>\n\n    <!-- Canvas para efectos de partículas -->\n    <canvas id=\"bg-canvas\"></canvas>\n    \n    <!-- Scanlines decorativas -->\n    <div class=\"scanlines\"></div>\n\n    <div class=\"container\">\n        <header>\n            <h1 class=\"brand-title\" id=\"mainTitle\">BLUNEXAI</h1>\n            <div class=\"subtitle\">Ad Generator System v1.0</div>\n        </header>\n\n        <form id=\"adForm\">\n            <!-- Sección de Imágenes -->\n            <div class=\"image-grid\">\n                <!-- Personaje -->\n                <div class=\"upload-card\">\n                    <div class=\"card-title\">1. Personaje</div>\n                    <div class=\"dropzone\" id=\"dropzone-char\">\n                        <span class=\"remove-btn\" onclick=\"removeImage('char', event)\">×</span>\n                        <img id=\"preview-char\" class=\"preview-img\" alt=\"Preview Personaje\">\n                        <div class=\"dropzone-content\" id=\"content-char\">\n                            <div class=\"dropzone-icon\">+</div>\n                            <div class=\"dropzone-text\">Arrastra o Click</div>\n                        </div>\n                        <input type=\"file\" id=\"input-char\" name=\"character_image\" accept=\"image/*\">\n                    </div>\n                </div>\n\n                <!-- Producto -->\n                <div class=\"upload-card\">\n                    <div class=\"card-title\">2. Producto</div>\n                    <div class=\"dropzone\" id=\"dropzone-prod\">\n                        <span class=\"remove-btn\" onclick=\"removeImage('prod', event)\">×</span>\n                        <img id=\"preview-prod\" class=\"preview-img\" alt=\"Preview Producto\">\n                        <div class=\"dropzone-content\" id=\"content-prod\">\n                            <div class=\"dropzone-icon\">+</div>\n                            <div class=\"dropzone-text\">Arrastra o Click</div>\n                        </div>\n                        <input type=\"file\" id=\"input-prod\" name=\"product_image\" accept=\"image/*\">\n                    </div>\n                </div>\n            </div>\n\n            <!-- Instrucciones -->\n            <div class=\"input-group\">\n                <label for=\"instructions\">Instrucciones / Prompt</label>\n                <textarea id=\"instructions\" name=\"instructions\" class=\"cyber-input\" placeholder=\"Describe cómo quieres que interactúen el personaje y el producto...\"></textarea>\n            </div>\n\n            <!-- Email -->\n            <div class=\"input-group\">\n                <label for=\"email\">Email de recepción *</label>\n                <input type=\"email\" id=\"email\" name=\"email\" class=\"cyber-input\" placeholder=\"tu@email.com\" required>\n            </div>\n\n            <!-- Botón -->\n            <div class=\"btn-container\">\n                <button type=\"submit\" id=\"submitBtn\" class=\"cyber-btn\">\n                    <span id=\"btnText\">GENERAR ANUNCIO</span>\n                </button>\n            </div>\n\n            <!-- Status -->\n            <div class=\"status-area\">\n                <div id=\"statusMsg\" class=\"alert\"></div>\n            </div>\n        </form>\n    </div>\n\n    <script>\n        // --- CONSTANTES & SELECTORES ---\n        const WEBHOOK_URL = 'https://tu_url/webhook/924bab70-786f-4623-99e3-a121e2d2a8529';\n        const MAX_FILE_SIZE = 10 * 1024 * 1024; // 10MB\n\n        const dropzones = {\n            char: document.getElementById('dropzone-char'),\n            prod: document.getElementById('dropzone-prod')\n        };\n        const inputs = {\n            char: document.getElementById('input-char'),\n            prod: document.getElementById('input-prod')\n        };\n        const previews = {\n            char: document.getElementById('preview-char'),\n            prod: document.getElementById('preview-prod')\n        };\n        const contents = {\n            char: document.getElementById('content-char'),\n            prod: document.getElementById('content-prod')\n        };\n        const removeBtns = {\n            char: document.querySelector('#dropzone-char .remove-btn'),\n            prod: document.querySelector('#dropzone-prod .remove-btn')\n        };\n\n        const form = document.getElementById('adForm');\n        const submitBtn = document.getElementById('submitBtn');\n        const btnText = document.getElementById('btnText');\n        const statusMsg = document.getElementById('statusMsg');\n        const title = document.getElementById('mainTitle');\n\n        // --- BACKGROUND CANVAS (PARTÍCULAS) ---\n        const canvas = document.getElementById('bg-canvas');\n        const ctx = canvas.getContext('2d');\n        let particles = [];\n\n        function resizeCanvas() {\n            canvas.width = window.innerWidth;\n            canvas.height = window.innerHeight;\n        }\n        window.addEventListener('resize', resizeCanvas);\n        resizeCanvas();\n\n        class Particle {\n            constructor() {\n                this.x = Math.random() * canvas.width;\n                this.y = Math.random() * canvas.height;\n                this.vx = (Math.random() - 0.5) * 0.5;\n                this.vy = (Math.random() - 0.5) * 0.5;\n                this.size = Math.random() * 2;\n                this.color = Math.random() > 0.5 ? '#00f3ff' : '#bc13fe';\n            }\n            update() {\n                this.x += this.vx;\n                this.y += this.vy;\n                if (this.x < 0 || this.x > canvas.width) this.vx *= -1;\n                if (this.y < 0 || this.y > canvas.height) this.vy *= -1;\n            }\n            draw() {\n                ctx.beginPath();\n                ctx.arc(this.x, this.y, this.size, 0, Math.PI * 2);\n                ctx.fillStyle = this.color;\n                ctx.fill();\n            }\n        }\n\n        for (let i = 0; i < 50; i++) particles.push(new Particle());\n\n        function animateCanvas() {\n            ctx.clearRect(0, 0, canvas.width, canvas.height);\n            particles.forEach((p, index) => {\n                p.update();\n                p.draw();\n                // Conectar partículas cercanas\n                for (let j = index + 1; j < particles.length; j++) {\n                    const p2 = particles[j];\n                    const dist = Math.hypot(p.x - p2.x, p.y - p2.y);\n                    if (dist < 100) {\n                        ctx.beginPath();\n                        ctx.strokeStyle = `rgba(255,255,255,${0.1 - dist/1000})`;\n                        ctx.lineWidth = 0.5;\n                        ctx.moveTo(p.x, p.y);\n                        ctx.lineTo(p2.x, p2.y);\n                        ctx.stroke();\n                    }\n                }\n            });\n            requestAnimationFrame(animateCanvas);\n        }\n        animateCanvas();\n\n        // --- EFECTO 3D EN TITULO ---\n        document.addEventListener('mousemove', (e) => {\n            const x = (window.innerWidth / 2 - e.pageX) / 25;\n            const y = (window.innerHeight / 2 - e.pageY) / 25;\n            title.style.transform = `rotateY(${x}deg) rotateX(${y}deg)`;\n        });\n\n        // --- MANEJO DE IMÁGENES ---\n        function handleFile(key, file) {\n            if (!file) return;\n\n            // Validación de tamaño\n            if (file.size > MAX_FILE_SIZE) {\n                showStatus('El archivo es demasiado grande (Máx 10MB).', 'error');\n                return;\n            }\n\n            // Validar tipo\n            if (!file.type.startsWith('image/')) {\n                showStatus('Por favor sube solo archivos de imagen.', 'error');\n                return;\n            }\n\n            // Crear URL para preview\n            const objectUrl = URL.createObjectURL(file);\n            \n            // Limpiar URL anterior si existe\n            if (previews[key].dataset.url) {\n                URL.revokeObjectURL(previews[key].dataset.url);\n            }\n\n            previews[key].src = objectUrl;\n            previews[key].dataset.url = objectUrl;\n            previews[key].style.display = 'block';\n            contents[key].style.display = 'none';\n            removeBtns[key].style.display = 'flex';\n            \n            // Asignar al input (necesario para FormData si viene de Drop)\n            // Nota: DataTransfer es necesario para asignar archivos a inputs manualmente\n            const dataTransfer = new DataTransfer();\n            dataTransfer.items.add(file);\n            inputs[key].files = dataTransfer.files;\n\n            hideStatus();\n        }\n\n        // Configurar listeners para cada zona (char y prod)\n        ['char', 'prod'].forEach(key => {\n            const dropzone = dropzones[key];\n            const input = inputs[key];\n\n            // Click para abrir selector\n            dropzone.addEventListener('click', () => input.click());\n\n            // Cambio en input\n            input.addEventListener('change', (e) => {\n                if (e.target.files.length > 0) {\n                    handleFile(key, e.target.files[0]);\n                }\n            });\n\n            // Drag & Drop\n            dropzone.addEventListener('dragover', (e) => {\n                e.preventDefault();\n                dropzone.classList.add('dragover');\n            });\n\n            dropzone.addEventListener('dragleave', () => {\n                dropzone.classList.remove('dragover');\n            });\n\n            dropzone.addEventListener('drop', (e) => {\n                e.preventDefault();\n                dropzone.classList.remove('dragover');\n                if (e.dataTransfer.files.length > 0) {\n                    handleFile(key, e.dataTransfer.files[0]);\n                }\n            });\n        });\n\n        // Función global para botón de eliminar\n        window.removeImage = function(key, event) {\n            event.stopPropagation(); // Evitar abrir el selector de archivos\n            \n            inputs[key].value = ''; // Limpiar input\n            previews[key].style.display = 'none';\n            if (previews[key].dataset.url) {\n                URL.revokeObjectURL(previews[key].dataset.url);\n                previews[key].dataset.url = '';\n            }\n            contents[key].style.display = 'flex';\n            removeBtns[key].style.display = 'none';\n        };\n\n        // --- ENVÍO DEL FORMULARIO ---\n        form.addEventListener('submit', async (e) => {\n            e.preventDefault();\n\n            // 1. Validaciones\n            const fileChar = inputs.char.files[0];\n            const fileProd = inputs.prod.files[0];\n            const email = document.getElementById('email').value;\n            const instructions = document.getElementById('instructions').value;\n\n            if (!fileChar || !fileProd) {\n                showStatus('Faltan imágenes. Debes subir Personaje y Producto.', 'error');\n                return;\n            }\n\n            const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n            if (!emailRegex.test(email)) {\n                showStatus('Por favor introduce un email válido.', 'error');\n                return;\n            }\n\n            // 2. Preparar UI\n            setLoading(true);\n            hideStatus();\n\n            // 3. Preparar FormData\n            const formData = new FormData();\n            formData.append('character_image', fileChar);\n            formData.append('product_image', fileProd);\n            formData.append('instructions', instructions);\n            formData.append('email', email);\n            formData.append('client_timestamp', new Date().toISOString());\n\n            try {\n                // 4. Petición Fetch\n                const response = await fetch(WEBHOOK_URL, {\n                    method: 'POST',\n                    body: formData\n                });\n\n                if (response.ok) {\n                    showStatus(`Perfecto. Recibirás el anuncio en: ${email}`, 'success');\n                    // Opcional: limpiar imágenes, pero mantenemos el mensaje de éxito visible\n                } else {\n                    throw new Error('Error en el servidor');\n                }\n            } catch (error) {\n                console.error(error); // Log silencioso\n                showStatus('Hubo un error al enviar los datos. Inténtalo de nuevo.', 'error');\n            } finally {\n                setLoading(false);\n            }\n        });\n\n        // --- UTILIDADES UI ---\n        function showStatus(msg, type) {\n            statusMsg.textContent = msg;\n            statusMsg.className = `alert ${type}`; // 'alert error' o 'alert success'\n            statusMsg.style.display = 'inline-block';\n        }\n\n        function hideStatus() {\n            statusMsg.style.display = 'none';\n        }\n\n        function setLoading(isLoading) {\n            if (isLoading) {\n                submitBtn.disabled = true;\n                btnText.innerHTML = '<div class=\"spinner\"></div> ENVIANDO...';\n            } else {\n                submitBtn.disabled = false;\n                btnText.textContent = 'GENERAR ANUNCIO';\n            }\n        }\n    </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        0,
        -80
      ],
      "id": "e28c2b91-5d4a-4ba8-8fbc-120353968455",
      "name": "HTML"
    },
    {
      "parameters": {
        "path": "c5995235-01c6-4e59-989a-3017f5cf27da",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -224,
        -80
      ],
      "id": "21271fa2-a0a3-45da-8d8a-41f234182d35",
      "name": "Webhook",
      "webhookId": "c5995235-01c6-4e59-989a-3017f5cf27da",
      "credentials": {
        "httpBasicAuth": {
          "id": "Mby5V9ASpqBsBJax",
          "name": "IMAGEN"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        208,
        -80
      ],
      "id": "ac2c5b78-8311-4a10-b65c-f2ae7ff6d56e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f13af609-697e-4ea4-b8f4-073eb2cae802",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cd45752616b99f4db905fdbf77b15f941dcae0df3c6a48b8fdb10fb443542c37"
  },
  "id": "KrDO0b0I4Oc8eCqM",
  "tags": []
}